.video-container {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url("https://pe-images.s3.amazonaws.com/photo-effects/cc/transparent-type-area/image-showing-through-layer-photoshop.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 2px 2px 5px red;
}

.demoVideo {
  position: fixed;
  z-index: 20;
  background-color: transparent;
  min-width: 75%;
  min-height: 75%;
  margin-left: 10%;
  top: 10%;
  border: 1px white solid;
}

.text {
  shape-margin: 20px;
  margin-left: 20px;
}
